<mat-card>
  <mat-card-header>
    <mat-card-title>Meals</mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="loading$ | async">Loading...</span>
      <span *ngIf="noResults$ | async">No results</span>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="mealForm" #directive="ngForm">
      <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
        <mat-form-field fxFlex>
          <input matInput formControlName="date" [matDatepicker]="date" placeholder="Date">
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date panelClass="month-picker">
          </mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-select placeholder="Diet" formControlName="diet">
            <mat-option *ngFor="let diet of diets" [value]="diet">
              {{ diet }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" (click)="submit(mealForm, directive)"
          [disabled]="!mealForm.valid">
          Search
        </button>
      </div>
    </form>

    <section>
      <h3 matSubheader *ngIf="meals.length === 0">No results found</h3>
      <mat-accordion>
        <div *ngFor="let meal of meals; let i = index; let first = first">
          <h4 class="mat-title" *ngIf="first">
            <strong>{{ meal.date }}</strong>
          </h4>
          <h4 class="mat-title" *ngIf="i > 0 && meals[i].date !== meals[i - 1].date">
            <strong>{{ meal.date }}</strong>
          </h4>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>{{ meal.diet }}</mat-panel-title>
              <mat-panel-description>{{ meal.day }} - Set {{ meal.set }}</mat-panel-description>
            </mat-expansion-panel-header>

            <section class="content">
              <h3 class="mat-headline">{{ meal.diet }}</h3>
              <h1 class="mat-subheading-2">{{ meal.day }} - Set {{ meal.set }}</h1>

              <mat-grid-list cols="3" rowHeight="1:1">
                <mat-grid-tile>
                  <mat-grid-tile-header>
                    <strong class="mat-title">Breakfast</strong>
                  </mat-grid-tile-header>

                  <section fxLayout="column">
                    <div *ngFor="let m of meal.meals">
                      <div fxLayout *ngIf="m.mealTime === 'Breakfast'">
                        <button mat-icon-button color="accent">
                          <mat-icon>label_important</mat-icon>
                        </button>
                        <div fxLayout="column">
                          <strong class="mat-body-strong">{{ m.name }}</strong>
                          <em>{{ m.ingredients }}</em>
                          <em>{{ m.nutrients }}</em>
                        </div>
                      </div>
                    </div>
                  </section>
                </mat-grid-tile>

                <mat-grid-tile>
                  <mat-grid-tile-header>
                    <strong class="mat-title">Lunch</strong>
                  </mat-grid-tile-header>
                  <section fxLayout="column">
                    <div *ngFor="let m of meal.meals">
                      <div fxLayout *ngIf="m.mealTime === 'Lunch'">
                        <button mat-icon-button color="accent">
                          <mat-icon>label_important</mat-icon>
                        </button>
                        <div fxLayout="column">
                          <strong class="mat-body-strong">{{ m.name }}</strong>
                          <em>{{ m.ingredients }}</em>
                        </div>
                      </div>
                    </div>
                  </section>
                </mat-grid-tile>

                <mat-grid-tile>
                  <mat-grid-tile-header>
                    <strong class="mat-title">Supper</strong>
                  </mat-grid-tile-header>
                  <section fxLayout="column">
                    <div *ngFor="let m of meal.meals">
                      <div fxLayout *ngIf="m.mealTime === 'Supper'">
                        <button mat-icon-button color="accent">
                          <mat-icon>label_important</mat-icon>
                        </button>
                        <div fxLayout="column">
                          <strong class="mat-body-strong">{{ m.name }}</strong>
                          <em>{{ m.ingredients }}</em>
                        </div>
                      </div>
                    </div>
                  </section>
                </mat-grid-tile>
              </mat-grid-list>
            </section>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </section>
  </mat-card-content>
</mat-card>
