<mat-card fxHide fxShow.lt-md="false" fxShow.gt-md="true">
  <mat-card-header>
    <mat-card-title>Patient Table</mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="loading$ | async">Loading...</span>
      <span *ngIf="noResults$ | async">No results</span>
      <span>{{ this.admitted.length }} patients currently admitted.</span>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slide-toggle (change)="togglePatients($event)">Show All Patients</mat-slide-toggle>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="mat-elevation-z8 responsive">
      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="dateAdmitted">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Date Admitted</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.dateAdmitted['seconds'] * 1000 | date: 'short'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.lastName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.firstName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="ward">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Ward</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.ward}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="bedNo">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Bed Number</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.bedNo}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="diet">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Diet</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.diet}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="dateDischarged">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Date Discharged</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.dateDischarged && row.dateDischarged['seconds']">
              {{ row.dateDischarged['seconds'] * 1000 | date: 'short' }}
            </span>
          </mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="openDialog('Update',row)" matTooltip="Update">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="openDialog('Discharge',row)" matTooltip="Discharge"
              [disabled]="row.isAdmitted ? false : true">
              <mat-icon>accessible_forward</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="openDialog('Delete',row)" matTooltip="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
