table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

@media(max-width: 800px) {
    .responsive {
        overflow-x: auto !important;
    }

    .mat-table {
        min-width:800px;
    }
}
