.logo {
  height: 48px;
  width: 200px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}


.mat-toolbar.mat-primary {
  background:linear-gradient(135deg, #3288af 0%,#17ead9 100%);
}

.mat-toolbar.mat-accent {
  background:linear-gradient(135deg, #17ead9 0%,#3288af 100%);
}

.mat-sidenav {
  background:linear-gradient(135deg, #e2edf7 0%,#E3E3E3 100%);
}

.mat-sidenav-content {
  background:linear-gradient(135deg, #E3E3E3 0%, #e2edf7 100%);
}

