<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="accent">
      <img fxHide fxShow.lt-sm="false" fxShow.gt-md="true" class="logo"
        src="assets/vector/default-monochrome-white.svg">
      <img fxShow fxHide.lt-sm="false" fxHide.gt-md="true" class="logo"
        src="assets/vector/isolated-monochrome-white.svg">
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
      <a mat-list-item [routerLink]="['/patients']" routerLinkActive="active">Patient List</a>
      <a mat-list-item [routerLink]="['/meals']" routerLinkActive="active">Meal Information</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span fxHide fxShow.lt-sm="false" fxShow.gt-md="true">Computerized Hospital Efficient Food Management Information
        System</span>
      <span fxShow fxHide.lt-sm="false" fxHide.gt-md="true">CHEF-MIS</span>
      <!-- This fills the remaining space of the current row -->
      <span class="space"></span>

      <button color="primary" mat-icon-button>
        <mat-icon>notification_important</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
