<mat-card>
  <mat-card-header>
    <mat-card-title>Patient List</mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="loading$ | async">Loading...</span>
      <span *ngIf="noResults$ | async">No results</span>
      <span>{{ (patients$ | async).length }} patients currently admitted.</span>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let patient of patients$ | async">
        <mat-icon matListIcon color="accent">face</mat-icon>
        <h4 matLine>
          <strong>{{ patient.id }}</strong> ||
          <small>{{ patient.department }} - {{ patient.bedNo }}</small>
        </h4>
        <p matLine class="mat-subheading-1">{{ patient.lastName }}, {{ patient.firstName }}</p>
        <small matLine>{{ patient.dateAdmitted['seconds'] * 1000 | date: 'medium' }}</small>

        <mat-action-list>
          <button mat-button color="accent" (click)="update(patient)">
            Update
          </button>
          <button mat-button color="warn" (click)="delete(patient)">
            Delete
          </button>
        </mat-action-list>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
